table,
.table {

  $block-name:                &; // #{$block-name}__element

  border-collapse: collapse;
  width: 100%;
  border: 1px solid $border-color;
  margin: $line-height 0;

  caption {
    padding-bottom: 0.5em;
    text-align: left;
    caption-side: top;
    font-size: $font-size-sm;
    line-height: 1em;
    color: inherit;
  }

  td,
  th {
    padding: $field-padding-vertical $field-padding-horizontal;
    vertical-align: top;
    border-bottom: 1px solid $border-color;

    &:not(:first-child) {
      border-left: 1px solid $border-color;
    }
  }

  th {
    text-align: left;
  }

  &__header {}

  &__body {}

  &__footer {}
}
