.projects-index {
  padding-top: 72px;
  padding-bottom: calc(72px - 24px);
  border-bottom: 1px solid $border-color;

  @media (min-width: $screen-md) {
    padding-bottom: 72px;
  }

  @media (min-width: $screen-xl) {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  $block-name:                &; // #{$block-name}__element

  &__row {
    align-items: center;
  }

  &__col {
    @include col(xs, 12, $grid-columns, 16px);
    @include col(md, 4);
    margin-bottom: 24px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__title {
    text-align: center;
  }
}
