.upcoming-events {
  color: $white;
  background-color: $secondary-color;

  @media (min-width: $screen-xxl) {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 175px 774px;
    background-image: url(../img/events-left.png);
  }

  $block-name:                &; // #{$block-name}__element

  .btn {
    width: 100%;
    margin-top: 24px;
  }

  &__row {
    @include row(
      $xs-grid-gutter:  32px,
      $sm-grid-gutter:  32px,
      $md-grid-gutter:  $grid-gutter-width,
      $lg-grid-gutter:  $grid-gutter-width,
      $xl-grid-gutter:  $grid-gutter-width,
      $xxl-grid-gutter: $grid-gutter-width
    );
  }

  &__col-nav {
    @include col(xs, 12, $grid-columns, 32px);
    @include col-offset(md, 1);
    @include col(md, 10);
    @include col-offset(xl, 0);
    @include col(xl, 6);
    margin-bottom: 32px;

    @media (min-width: $screen-md) {
      margin-bottom: 64px;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }
  }

  &__col-content {
    @include col(xs, 12, $grid-columns, 32px);
    @include col-offset(md, 1);
    @include col(md, 10);
    @include col-offset(xl, 1);
    @include col(xl, 5);
    background-color: rgba($white, 0.05);

    @media (min-width: $screen-md) {
      background: none;
    }
  }

  &__nav {
    padding-top: 48px;
    padding-bottom: 32px;

    @media (min-width: $screen-md) {
      padding-top: 72px;
      padding-bottom: 64px;
    }

    @media (min-width: $screen-xl) {
      padding-top: 96px;
      padding-bottom: 96px;
    }
  }

  &__title {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba($white, 0.2);

    @media (min-width: $screen-md) {
      padding-bottom: 32px;
    }
  }

  &__nav-item {

    @media (min-width: $screen-md) {
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    position: relative;
    display: block;
    padding: 16px;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.2;
    color: rgba($white, 0.65);
    border: 2px solid transparent;
    border-radius: $border-radius;

    &:hover,
    &:focus,
    &.active {
      color: rgba($white, 1);
      border-color: $main-color;

      &::after {
        border-color: $main-color;
      }
    }

    &.active {
      pointer-events: none;
    }

    @media (min-width: $screen-md) {
      padding: 16px 32px;
      border-radius: $border-radius-xl;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: -7px;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      background-color: $secondary-color;
      border-radius: 50%;
      border: 2px solid rgba($white, 0.65);
    }

    span {
      display: block;
    }
  }

  &__tab-content {
    padding-bottom: 24px;

    @media (min-width: $screen-md) {
      padding-bottom: 32px;
      background-color: rgba($white, 0.05);
    }

    @media (min-width: $screen-xl) {
      padding-bottom: 64px;
    }
  }

  &__date {
    font-size: 14px;
    margin-bottom: 8px;
  }

  &__caption {
    margin: 0;
    font-weight: inherit;
    line-height: inherit;
  }

  &__img {
    max-width: 358px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 $border-radius-lg $border-radius-lg;
    filter: drop-shadow(0 0 32px rgba(0, 0, 0, 0.24));

    @media (min-width: $screen-md) {
      margin-bottom: 32px;
    }

    @media (min-width: $screen-xl) {
      margin-left: 0;
      border-radius: 0 0 $border-radius-xl 0;
    }

    img {
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {

    @media (min-width: $screen-md) {
      padding: 0 11%;
    }

    @media (min-width: $screen-xl) {
      padding: 0 32px;
    }

    div + div {
      margin-top: 16px;
    }
  }

  &__descr {
    display: block;
    font-size: $font-size-sm;
    font-weight: 500;
    color: inherit;

    & + & {
      margin-top: 2px;
    }

    &--title {
      color: $main-color;
    }

    &--list {
      margin-top: 0;
      font-weight: 400;
    }
  }
}
