.countdown {
  display: inline-flex;
  font-size: inherit;
  font-weight: inherit;
  text-align: center;
  color: inherit;

  $block-name:                &; // #{$block-name}__element

  &__inner {
    display: flex;
    align-items: center;

    &.hidden {
      display: none;
    }
  }

  &__number {
    font-size: 24px;
    font-weight: 700;

    &::after {
      display: inline-block;
      vertical-align: baseline;
      content: attr(data-divider);
      margin-right: 6px;
      //margin-left: 2px;
      transform: translateX(-2px);
      font-size: inherit;
      font-weight: inherit;
    }

    &:first-child {
      color: $main-color;
    }
  }

  &__deadline-message {
    display: none;
    font-size: inherit;
    font-weight: 700;
    color: $color-danger;

    &.visible {
      display: inline-block;
      vertical-align: baseline;
    }
  }

  &__caption {
    //margin-bottom: 16px;
  }
}
