.field-checkbox {

  $block-name:                &; // #{$block-name}__element

  display: block;
  margin-bottom: 16px;

  // &__title {
  //   display: block;
  //   font-weight: 700;
  //   line-height: $line-height;
  //   margin-bottom: 0.4em;
  // }

  // &__input-wrap {

  //   & + & {
  //     margin-top: ($line-height / 2);
  //   }
  // }

  &__name {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    //margin-right: 0.6em;
    font-size: $font-size-sm;
    font-weight: 400;
    line-height: 1.3;

    &:hover,
    &:focus {

      #{$block-name}__name-text {

        &::before {
          background-color: rgba($main-color, 0.16);
        }
      }

      input:checked + #{$block-name}__name-text {

        &::after {
          border-color: $link-color--hover;
          background-color: $link-color--hover;
        }
      }
    }
  }

  &__name-text {

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      border: 2px solid $main-color;
      border-radius: $border-radius-xs;
      cursor: pointer;
    }

    @at-root input:focus ~ &::before {
      @include field-focus;
      background-color: rgba($main-color, 0.16);
    }

    &::after {
      opacity: 0;
      background-color: $main-color;
      background-size: 11px 8px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: svg-load('../blocks/field-checkbox/bg-img/check-mark.svg', fill=$white);
      transition: opacity $transition-time;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }
  }

  &__input {
    position: absolute;
    top: 0.7em;
    left: 0;
    padding: 0;
    margin: 0;
    transform: translateY(-50%);

    &:focus,
    &:active {
      @include field-focus;
    }

    // сокрытие инпута в случае использования своего чекбокса
    opacity: 0;
  }

  &__help-text-wrap {
    padding-left: 1.5em;
  }

  &__help-text {
    @include field-help-text;
  }
}
