.blog-latest-card {
  display: block;
  text-decoration: none;

  $block-name:                &; // #{$block-name}__element

  &__img {
    margin-bottom: 24px;
    border-radius: $border-radius-lg;
    box-shadow: $shadow;

    @media (min-width: $screen-xl) {
      border-radius: $border-radius-xl;
    }

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 12px;
  }

  &__descr {
    margin-top: 0;
    color: $text-color;
  }
}
